server:
  port: 8080
datasource1:
  url: jdbc:mysql://192.168.1.10:3306/test
  username: root
  password: 123456
  driver-class-name: com.mysql.jdbc.Driver
  maxActive: 20
  initialSize: 1
  maxWait: 60000
  minIdle: 1
  timeBetweenEvictionRunsMillis: 60000
  minEvictableIdleTimeMillis: 300000
  validationQuery: select 'x'
  testWhileIdle: true
  testOnBorrow: false
  testOnReturn: false
  poolPreparedStatements: true
  maxOpenPreparedStatements: 20
datasource2:
  url: jdbc:mysql://192.168.1.8:3306/test
  username: root
  password: 123456
  driver-class-name: com.mysql.jdbc.Driver
  maxActive: 20
  initialSize: 1
  maxWait: 60000
  minIdle: 1
  timeBetweenEvictionRunsMillis: 60000
  minEvictableIdleTimeMillis: 300000
  validationQuery: select 'x'
  testWhileIdle: true
  testOnBorrow: false
  testOnReturn: false
  poolPreparedStatements: true
  maxOpenPreparedStatements: 20
mybatis:
  mapper-locations: classpath:mappint/*.xml
  type-aliases-package: com.ddpzp.pojo
